<%- include('../template/head')-%>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <%- include('../template/messages')-%>
            <h1 class="cover-heading">Add a new Spaceship</h1>
            <form method="POST" action="/addSpaceship">
                <div class="form-group">
                    <label for="Name">Spaceship ID</label> <!-- Should be secondary ID -->
                    <input type="text" class="form-control" id="spaceshipid" name="spaceshipid" placeholder="Enter a Spaceship ID" required>
                </div>
                <div class="form-group">
                    <label for="Surname">Max Weight</label>
                    <input type="text" class="form-control" id="maxweight" name="maxweight" placeholder="Enter the Max Weight" required>
                </div>
                <div class="form-group">
                    <label for="Surname">Captain</label>
                    <select class="form-control" id="captainid" name="captainid" required> <!-- Creates a dropdown selection from existing captains -->
                        <% data.forEach(function(captain) { %>
                            <option value="<%= captain.secondary_id %>"><%= captain.secondary_id %> - <%= captain.firstname %> <%= captain.lastname %></option>
                        <% }); %>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            <div class="btn-group mb-3 float-right"> <!-- Buttons to nav to other CRUD ops -->
                <a href="/addSpaceship" class="btn btn-dark">Add</a>
                <a href="/updateSpaceship" class="btn btn-dark">Update</a>
                <a href="/removeSpaceship" class="btn btn-dark">Remove</a>
            </div>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<!-- Underlines spaceship in nav bar -->
<script>
    window.onload = function () {
        document.getElementById('spaceship').classList.add('active');
    };
</script>

</html>