<%- include('../template/head')-%>

<body class="text-center">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
        <h1 class="cover-heading">Spaceship</h1>
        
        <div class="container bg-light text-dark">
            
            <table class="table table-striped">
                <div class="btn-group mb-3 float-right"> <!--CRUD ops nav buttons for spaceships-->
                    <a href="/addSpaceship" class="btn btn-dark">Add</a>
                    <a href="/updateSpaceship" class="btn btn-dark">Update</a>
                    <a href="/removeSpaceship" class="btn btn-dark">Remove</a>
                </div>
                
                <thead>
                    <tr>
                        <th>ID</th> <!-- Don't worry, it's secondary ID -->
                        <th>Max Weight</th>
                        <th>Captain ID</th> <!-- Don't worry, it's secondary ID -->
                    </tr>
                </thead>
                <tbody> <!-- Loops through the records in spaceship and displays each one -->
                    <%data.forEach(function(entry) {%>
                    <tr>
                        <td><%=entry.secondary_id%></td>
                        <td><%=entry.maxweight%></td>
                        <td><%=entry.captainid%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    window.onload = function() {
        const path = window.location.pathname;
        document.getElementById('spaceship').classList.add('active');
    };
</script>
</html>
